# Chave de segurança para geração de token JWT
JWT_SECURITY_KEY=<senha-seguranca>
# Senha do banco de dados
MYSQL_ROOT_PASSWORD=<123456>

# Token do MailerSend para envio de email
MAILERSEND_SMTP_TOKEN=<mlsn.xxxxxxx>
# Token do MailerSend para template de email (pode ser o mesmo usado para envio de email; depende da configuração)
TEMPLATE_TOKEN=<mlsn.xxxxxxx>
# Id do template de email
TEMPLATE_ID_HTML=<xxxxxxxx>
# Endereço de email gerado pelo MailerSend
ADDRESS_EMAIL=<MS_xxxxxxxxx>

# Token da API do Google AI Studio
TOKEN_API_GOOGLE_GENAI=<AQ.xxxxxxx>